@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
nav {
  padding: 1rem 2rem;
  border-radius: 15px;
  margin: 15px;
}
.logoAndNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* pushes logo left, nav right */
  width: 100%;
}

.navLogo a img{
  height: 50px;
  width: 200px;
  border-radius: 15px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  padding: 15px;
}
nav ul li a:hover {
  color: black;
  cursor: pointer;
  background-color: white;
  padding: 15px;
}
main {
  color: white;
  border-radius: 15px;
  margin: 2rem;
  display: flex;
  height: auto;
}

main div {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  border: white solid 2px;
  border-radius: 100px;
  width: 200px;
  margin: 50px;
}
footer {
  display: flex;
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: bold;
  margin: 15px;
  border-radius: 45px;
  border: white solid 2px;
  width: 300px;
}